<div class='container'>  
  <br>
  <br>
  <br>
  <br>
  <section>
    IMPORTANT-READ THIS END USER LICENSE AGREEMENT (THIS “AGREEMENT”) CAREFULLY BEFORE CONTINUING.  BY CLICKING THE “I AGREE” BUTTON OR OTHERWISE ACCEPTING THIS AGREEMENT, YOU AGREE TO FOLLOW AND BE BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT.  ALL CAPITALIZED TERMS USED IN THIS PARAGRAPH HAVE THE MEANING SET FORTH IN ARTICLE 1 OF THE AGREEMENT.  THE END USER’S USE OF THE LICENSED SOFTWARE IS SUBJECT TO THIS AGREEMENT. IF YOU ARE ENTERING INTO THIS AGREEMENT ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE AUTHORITY TO BIND SUCH ENTITY TO THE TERMS AND CONDITIONS OF THIS AGREEMENT. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS IN THIS AGREEMENT, YOU MUST SELECT THE “I DO NOT AGREE” BUTTON AND MAY NOT USE THE LICENSED SOFTWARE.  
  </section>
  <br>
  <br>
  <br>
  <section>
    This Agreement is made and entered into on the day it is executed by the entity executing this agreement (either an individual or entity) (“End User”) and Hacknvest, LLC (“Company”).

    WHEREAS, Company is in the business of creating and licensing code for niche retail websites (the “Platniche”);

    WHEREAS, End User desires to sell its products through Platniche;

    NOW, THEREFORE, for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, End User hereby agrees as follows:
    <br>
    <br>
    <br>
    <ol>
      <li><strong><h3>Definitions.  As used in this Agreement, the following terms shall have the meanings set forth below:</h3></strong></li>

      (a) “Agreement” means this End User License Agreement.

      (b) “Related Parties” means the members, agents, employees and/or assigns of Company.

      (c) “Company” means Hacknvest, LLC, a Wisconsin limited liability company.


      <br>
      <br>
      <li><strong><h3>Grant of Sub-License.</h3></strong></li>
      (a) Initial Grant.  Company grants to the End User, and such End User hereby accepts, a personal, non-exclusive, non-transferable limited license to use Platniche to sell End User’s products online according to the terms of this Agreement and subject to the License Agreements. Access to Platniche shall be given to the End User by Company only upon execution of this Agreement (“Grant of License”).
      (b) Prohibitions.  The rights granted End User under this Agreement are limited to the express terms hereof.  Specifically, no right is granted to End User to sell, reproduce, publish, license, distribute, disseminate, modify, create derivative works from, publicly display, sublicense, rent, and/or lease any portion of Platniche.  Further, under no circumstances does Company grant to End User any right to reverse engineer, decompile, disassemble, modify, translate, and make any attempts to discover the source code of Platniche.  End User will return or destroy all copies of Platniche and generated content (if applicable) if and when End User’s right to use it ends.  End User may not use Platniche if End User is determined to be a competitor of Company as determined by Company in its sole discretion.

      (c)   Compensation.  End User shall pay fees as given on Exhibit 1 (“Fees”).  The grant of license is contingent upon End User’s payment of all fees.


      <br>
      <br>
      <li><strong><h3>Term.</h3></strong></li>
      This Agreement shall remain in full force and effect for a period of one (1) year (the “Term”).  The parties may extend the Term of this Agreement upon their mutual written consent at least ninety (90) days prior to the end of the Term.   



      <br>
      <br>
      <li><strong><h3>Termination/Cancellation.</h3></strong></li>
      (a) Termination.  Either Company or End User may terminate this Agreement and any sublicense granted hereunder upon three (3) days’ notice to End User.
      (b) Effect of Termination.  Upon termination of this Agreement, End User’s rights and obligations under this Section and under Sections 2(b), 7, and 8 shall survive termination of this Agreement.
      (c) Actions Upon Termination.  If a license granted under this Agreement expires or otherwise terminates, all rights granted to End User under this Agreement cease, and End User shall immediately cease using Platniche and all programs associated thereto.
      (d) Payment of Fees and Costs in the Event of Collection.  End User agrees that in the event Company is obligated to pursue its or their legal remedy to force End User to comply with the terms of this Agreement, End User agrees to pay all costs and other expenses incurred by Company including all reasonable attorneys’ fees.


      <br>
      <br>
      <li><strong><h3>“AS IS” Warranty. </h3></strong></li>
        PLATNICHE ARE PROVIDED “AS IS” AND “AS AVAILABLE” AND WITHOUT REPRESENTATIONS, WARRANTIES OR CONDITIONS OF ANY KIND, EITHER STATUTORY, EXPRESS OR IMPLIED, INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT AND COMPANY DOES NOT WARRANT THAT PLATNICHE WILL PERFORM WITHOUT ERROR OR THAT IT WILL RUN WITHOUT IMMATERIAL INTERRUPTION.

        ANY WARRANTY THAT IS PROVIDED IN CONNECTION WITH ANY OF THE PRODUCTS OR SERVICES THAT ARE PROVIDED BY ANY OF COMPANY’S SPONSORS, ADVERTISERS, LINKED SITES, CONTENT PROVIDERS OR SERVICE PARTNERS ARE PROVIDED SOLELY BY SUCH ENTITY OR THE MANUFACTURER OF THAT PRODUCT AND/OR SERVICE, AND NOT BY COMPANY.
        END USER’S SOLE REMEDY FOR ANY DISSATISFACTION WITH PLATNICHE IS TO STOP USING PLATNICHE. 
      THE PARTIES INTEND THAT THE LIMITED REMEDIES AND DISCLAIMERS CONTAINED IN THIS SECTION SHALL BE VALID AND ENFORCED EVEN IF THEY FAIL OF THEIR ESSENTIAL PURPOSE.


      <br>
      <br>
      <li><strong><h3>Limitation of Liability.</h3></strong></li>
      TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES SHALL COMPANY OR ITS RELATED PARTIES BE LIABLE FOR (I) DIRECT DAMAGES OR (II) ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL, EXEMPLARY, PUNITIVE, OR OTHER INDIRECT DAMAGES WHATSOEVER (INCLUDING DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA, OR OTHER INTANGIBLES) ARISING OUT OF OR IN ANY WAY CONNECTED WITH THESE TERMS, THE SERVICES, OR PLATNICHE PROVIDED HEREUNDER WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF COMPANY OR ITS RELATED PARTIES HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        THE PARTIES INTEND THAT THE LIMITATIONS AND DISCLAIMERS CONTAINED IN THIS SECTION SHALL BE VALID AND ENFORCED EVEN IF THEY FAIL OF THEIR ESSENTIAL PURPOSE.


      <br>
      <br>
      <li><strong><h3>Indemnification By End User.</h3></strong></li>
        End User shall indemnify and hold Company and its Related Parties harmless from any claim, loss, cost, expense, demand, or damage, including reasonable attorneys’ fees, arising directly or indirectly out of the (a) claims by third parties arising out of the End User’s use of Platniche; (b) use by End User of or connection to or the inability to use or connect to Platniche; (c) information transmitted or stored through or on Platniche; (d) acts or omissions in connection with either (a), (b), and (c) above; or (e) breach of this Agreement by End User.


      <br>
      <br>
      <li><strong><h3>Company Proprietary Rights and Marks.</h3></strong></li>
      End User acknowledges and agrees that Platniche contains proprietary and confidential information that is protected by applicable intellectual property and other laws.  The mark “Platniche” is the intellectual property of Company, and End User may not display such marks without the written consent of Company.  Platniche and any related object or source code that may be made available to End User are licensed and not sold and End User receives no title to or ownership of any copy or the software itself.  All rights, title and interests in Platniche and its source code whether tangible or intangible including, but not limited to, patent, copyright, trademark and trade secret rights and further including any images, icons, photographs, animations, video, audio, music, text, and “applets” incorporated into Platniche, and any copies of Platniche are owned by Company.  End User may not remove the copyright or other proprietary notices (if any) from Platniche or source code.

      Company may collect information and data regarding how Platniche is used, processes information, and otherwise performs and how products and orders are being bought and sold on Platniche, and End User hereby consent to the collection and use of such information and data as described herein. Company has the right to access and monitor the use of data within Platniche and the use of Platniche by End User. All information collected by Company will be used by Company and not shared with third parties other than in the aggregate without any identifying information and is Company’s Confidential Information. Any information or data produced by Platniche regarding the performance of Platniche or analysis and compilations of aggregate data collected by Company is considered proprietary information owned by Company.  


      <br>
      <br>
      <li><strong><h3>Miscellaneous.</h3></strong></li>
      Governing Law, Venue and Jurisdiction.  This Agreement shall be governed by and construed in accordance with the laws of the State of Wisconsin, without reference to conflict of law principles.  Venue and jurisdiction for all litigation and alternate dispute resolution such as mediation and arbitration shall be Dane County, Wisconsin.

      (b) Entire Agreement.  This Agreement and any communications that are attached hereto contain the entire understanding of the parties with respect to the subject matter hereof and supersedes any prior agreement, understanding and communication between the parties, whether written or oral, with respect to such subject matter.  This Agreement can be amended only in writing signed by the parties.  In the event of conflicts, the document with the most recent date shall control over documents with earlier dates.
      (c) Transfer and Assignment.  Except as otherwise provided in this Agreement, End User may not assign or transfer Platniche or this Agreement to a third party under any circumstance.  Any merger that involves End User, any sale or transfer of more than fifty percent (50%) of its voting stock or any sale of all or substantially all of the assets of End User shall be considered a prohibited assignment or transfer of the Licensed Software.
      (d) Severability; No Waiver.  In the event that any term or condition of this Agreement is determined to be invalid, illegal or otherwise unenforceable, such determination shall have no effect on the other terms and conditions, which shall continue to be binding upon the parties hereto.  Lack of enforcement of any term or condition in this Agreement shall not be construed as a waiver of any rights conferred by such term or condition.
      (e) Relationship.  No joint venture, partnership, employment, or agency relationship exists between End User and Company as a result of this Agreement or use of or access to Platniche.
      (f) Enforcement.  Except as otherwise expressly stated in this Agreement, in the event of any litigation between the parties arising out of or in connection with this Agreement, the prevailing party shall be entitled to recover its costs and reasonable attorneys’ fees at the trial and appellate levels.
      (g) Survival Clause.  All duties and responsibilities of any party which, either expressly or by their nature, extend into the future, shall extend beyond and survive the end of the contract term or cancellation of this Agreement.
      (h) Notices Clause.  All notices or communications required or permitted as a part of the Agreement shall be in writing (unless another verifiable medium is expressly authorized) and shall be deemed delivered when:
      (1) Actually received, 
      (2) Upon receipt by sender of a certified mail return receipt signed by an employee or agent of the receiving party, 
          (3) If not actually received, ten (10) days after deposit with the United States or Canadian postal service authorized mail center with proper postage (certified mail, return-receipt requested) affixed and addressed to the respective other party at the address set out in the Agreement or such other address as the party may have designated by notice amendment to the other party, 
      (4) Upon delivery by End User of the notice to an authorized Company representative while at the End User site, or
      (5) Upon delivery by Company of the notice to an authorized End User representative while at the End User site.
    </ol>
  </section>
</div>