<h1>Organizations</h1>
<% @accounts.each do |mer| %>
	<div class="col-md-3">
	  <div class="ibox">
	    <div class="ibox-content product-box">
	      <div class="product-imitation">
	        <%= image_tag(mer.logo.url(:p303x498)) %>
	      </div>
	      <div class="product-desc">
	        <%= link_to mer.username, merchant_path(mer.username), class: 'product-name' %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>
