<nav>
  

  <div class="nav-bar">
      <div class="module left">
          <a href="/">
              <h4>Raise4it</h4>
          </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
          <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
          <div class="module left">
              <ul class="menu">
                  <li>
                      <a href="#features">Features</a>
                  </li>
                  <li>
                      <a href="#highlight">Highlight</a>
                  </li>
                  <li>
                      <a href="#pricing">Pricing</a>
                  </li>
                  <li>
                    <a class="btn btn-sm" href="users/sign_in">Login</a>
                  </li>
                  <li>
                    <a class="btn btn-sm signup" href="users/sign_in">Sign In</a>
                  </li>
              </ul>
          </div>		                
      </div>
      
  </div>
</nav>