<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
        <li class="nav-header">
            <a href='/'>
                <div class="logo-element">
                    <i class='fa fa-home'></i>
                </div>
            </a>
        </li>
        </li>
        <li>
            <a href="/orgs/<%= current_user.username %>"><i class="fa fa-user"></i></a>
        </li>
        <% if current_user.admin? %>
          <li>
              <a href="/approved_accounts/"><i class="fa fa-sitemap"></i></a>
          </li>
        <% end %>
        <li>
            <a href="#fund_info" data-toggle= 'modal' ><i class="fa fa-exclamation-triangle"></i></a>
        </li>
        <li>
            <a href="/users/edit"><i class="fa fa-cogs"></i></a>
        </li>
        <% if current_user.account_approved?%>  
          <li>
              <a href="/reports"><i class="fa fa-bar-chart-o"></i></a>
          <% if current_user.text_lists.present? || current_user.email_lists.present? %>  
            <li>
                <a href="#"><i class="fa fa-envelope"></i></a>
                <ul class="nav nav-second-level collapse">
                  <% if current_user.text_lists.present?  %>
                    <li><%= link_to "Text Blast", "#text_blast", 'data-toggle' => 'modal' %></li>
                  <% end %>
                  <% if current_user.email_lists.present?  %>
                    <li role="separator" class="divider"></li>
                    <li><%= link_to "Email Blast", "#email_blast", 'data-toggle' => 'modal' %></li>
                  <% end %>
                </ul>
            </li>
          <% end %>
          <li>
            <a href="#create_member" data-toggle= 'modal' ><i class="fa fa-group"></i></a>
          </li>
          <li>
            <a href="#create_dplan" data-toggle= 'modal' ><i class="fa fa-usd"></i></a>
          </li>
        <% end %>
    </ul>
  </div>
</nav>